/*--- General ---*/
body {
  margin: 50px 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 700px;
  margin: 0 auto;
}

/*--- Table ---*/
table {
  padding: 10px 0px;
}

td,
th {
  border: 1px solid #000000;
  padding: 5px 25px;
}
.debt-total {
  background-color: #add8e6;
  padding: 10px;
}
.debt-total span {
  float: right;
}
.row-totals {
  display: flex;
  justify-content: space-between;
}

th.checkbox-col,
td.checkbox-col {
  border: none;
  background-color: #ffffff;
}

tr.unchecked {
  background-color: maroon;
  color: #ffffff;
}

/*--- Buttons ---*/
.btn {
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
  margin: 10px 10px 10px 0px;
}

.add {
  background-color: darkblue;
}
.delete {
  background-color: maroon;
}

.btn.add:hover,
.btn.delete:hover {
  background-color: #999999;
  transition: 0.3s background-color;
}

/*--- New Entry ---*/
.new-entry form {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.new-entry .btn {
  margin-right: 0px;
}

.form-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}
